/* Import desired font from google (went with Elms sans) */
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Determine default page layout styling & add font family */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}

/* Smooth page scrolling */
html {
    scroll-behavior: smooth;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}

/* Style nav bar, container, logo, images, and nav links */
nav {
    height: 80px;
    display: flex;
}

.nav__container {
    padding: 0 24px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

img {
    width: 100%;
    /* size adjustment for larger screens */
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 180px;
    filter: grayscale(1);
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* Add span text color styling (green) */
.blue {
    color: #2D336B;
}

.nav__link {
    text-decoration: none;
    margin-left: 16px;
    font-size: 20px;
    color: #2D336B;
    font-weight: bold;
    padding: 6px 12px;
}

/* Style primary books link */
.nav__link--primary {
    border-radius: 14px;
    background-color: #2D336B;
    color: #FFF2F2;
}

/* Add hover effect for nav links */
.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* Style side menu for smaller devices */
.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #2D336B;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* hides side menu by default */
    opacity: 0; /* hides side menu by default */
    transition: all 300ms ease;
}

/* Allows menu movement */
.menu--open .menu__backdrop {
    visibility: visible; /* shows side menu on click */
    opacity: 1; /* shows side menu on click */
}

.menu--open { /* disallows scrolling when side menu is open */
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #FFF2F2;
    font-size: 40px;
}

.menu__list {
    padding: 32px 0;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #FFF2F2;
}

/* 

LANDING

*/

/* Add background color to main page */
#landing {
    background-color: #FFF2F2;
}

header {
    height: calc(100vh - 80px);
}

/* Style header & header description */
.header__container {
    padding-top: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adjust h1 & h2 font size, margin, & alignment */
h1 {
    font-size: 46px;
    color: #2D336B;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin: 36px;
    text-align: center;
}

/* Style button */
.btn {
    background-color: #2D336B;
    color: #FFF2F2;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 14px;
    border: none;
    font-weight: bold;
}

button {
    cursor: pointer;
}

/* Add button transition effect when clicked */
button:active {
    transform: translateY(2px);
}

.header__img--wrapper {
    padding: 24px;
    margin-bottom: 160px;
    z-index: 2;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Center explore header & button */
.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor {
    cursor: not-allowed; /* disallows cursor pointing/clicking for incomplete sections (useful for letting recruiters know) */
}

/*

HIGHLIGHTS 

*/

/* Add squiggly separator lines for top & bottom sections surrounding highlights */
#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    content: "";
    background: url(./assets/wave.svg);
    position: absolute;
    width: 101vw;
    height: 14vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 10px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 20px;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__para {
    text-align: center;
    max-width: 240px; /* constrain paragraph width for icon list */
}

/* Adjust icon color and sizing */
.highlight__img {
    color: #2D336B;
    font-size: 32px;
    margin-bottom: 18px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

/*

FEATURES 

*/

#features {
    padding-top: 6vh;
    background-color: #FFF2F2;
}

/* Adjust book img cover sizing & spacing */
.books {
    display: flex;
    flex-wrap: wrap; /* enable wrapping when there are too many items on one line */
}

.book {
    width: 25%;
    padding: 24px 0;
    text-align: center;
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed; /* this signifies that link is un-clickable */
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.book:hover .book__img {
    transform: scale(1.05);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through black;
    padding-right: 6px;
    color: #bfbfbf;
}

/*

EXPLORE 

*/

#explore {
    background-color: #FFF2F2;
}


/*

FOOTER 

*/

footer {
    background-color: #242424;

}

/* Make footer logo image smaller */
.footer__logo--img {
    width: 180px;
    filter: grayscale(1) invert(1); /* reverses logo color to monotone */
}

.footer__logo {
    display: flex;
}

.footer__link,
.footer__copyright {
    color: #FFF;
}

.footer__list {
    margin-bottom: 20px;
}

.footer__link {
    font-size: 20px;
    padding: 0 8px;
}

.footer__button {
    background-color: #ffffff;
    color: #FFF2F2;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    margin-bottom: 12px;
    max-width: 100%;
}

.footer__arrow {
    color: #2D336B
}

/* RESPONSIVE DESIGN FOR SMALL PHONES, TABLETS, & SMARTPHONES */

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
       font-size: 18px; 
    }

    .book {
        width: 50%;
    }
}

/* SMALL PHONES */


@media (max-width: 550px) { 
    .nav__links { /* hides menu items when display goes below 550px */
        display: none;
    }

    .btn__menu { /* shows side menu when display goes below 550px */
        display: block;
    }

    .highlight {
        width: 100%;
        margin-bottom: 24px;
    }
}